{% from "./operation.html" import operation %}

<a name="operations"></a>
<h2 class="mb-4 ml-8">Operations</h2>

{% for channelName, channel in asyncapi.channels() %}

    {% if channel.hasPublish() %}
<div class="responsive-container">
      {{ operation(channel.publish(), 'command', channelName, channel) }}
</div>
<div class="responsive-container">
      {{ operation(channel.publish(), 'query', channelName, channel) }}

  </div>
{% endif %}
  <div class="responsive-container">
    {% if channel.hasSubscribe() %}
      {{ operation(channel.subscribe(), 'event', channelName, channel) }}
    {% endif %}
  </div>
{% endfor %}
